<Layouts.app flash={@flash}>
  <.header>
    New Birth
    <:subtitle>Use this form to manage birth records in your database.</:subtitle>
  </.header>

  <.birth_form changeset={@changeset} action={~p"/births"} return_to={~p"/births"} />
</Layouts.app>
